################################################################
your free memory today :  {{ ansible_facts.memfree_mb }}  MB
################################################################
your cpu core is : {{ ansible_facts.processor_vcpus }} Cores
################################################################
~~~~~~~~  WELCOME TO {{ ansible_facts.hostname }}  ~~~~~~~~~~~~
################################################################